body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
}

.image {
    width: 500px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    margin: 0 10px;
}

.image img {
    width: 100%;
}

.image::before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
    background-size: cover;
    filter: invert(75%) drop-shadow(16px 16px 20px red);
    transition: 1s ease-in-out;
}

.image:hover::before {
    height: 100%;
    bottom: 0;
    transition: .5s ease-in-out;
}

.image:nth-child(1)::before {
    background-image: url(images/1.jpg);
}

.image:nth-child(2)::before {
    background-image: url(images/2.jpg);
}

.image:nth-child(3)::before {
    background-image: url(images/3.jpg);
}
